<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Search Vacation Packages</title>
</head>
<body>
	<h2>Search Vacation Packages</h2>
	
	<form action="#" th:action="@{/search/new}" th:object="${searchDetails}" method="POST">
		Package type: 
		<input type="radio" th:name="package" th:value="1" th:field="*{packageType}" id="flight_hotel_car">
		<label for="flight_hotel_car"> Flight + Hotel + Car</label>
		<input type="radio" th:name="package" th:value="2" th:field="*{packageType}" id="flight_hotel">
		<label for="flight_hotel"> Flight + Hotel</label>
		<input type="radio" th:name="package" th:value="3" th:field="*{packageType}" id="hotel_car">
		<label for="hotel_car">Hotel + Car</label>
		<br>
		Depart From: <input type="text" th:field="*{departureLocation}">
			<span th:if="${#fields.hasErrors('departureLocation')}" th:errors="*{departureLocation}"></span><br>
		Destination: <input type="text" th:field="*{destinationLocation}">
			<span th:if="${#fields.hasErrors('destinationLocation')}" th:errors="*{destinationLocation}"></span><br>
		Departure Date: <input type="date" th:attr="min=${now}" th:field="*{departureDate}"><br>
			<span th:if="${#fields.hasErrors('departureDate')}">test1</span><br>
		Return Date: <input type="date" th:attr="min=${now}" th:field="*{returnDate}" /><br>
			<span th:if="${#fields.hasErrors('returnDate')}">TEst2</span><br>
		Travelers: Adults <input type="number" th:field="*{adults}" th:value="2">
			, children: <input type="number" th:field="*{children}" th:value="0">
			<span th:if="${#fields.hasErrors('adults')}" th:errors="*{adults}"></span>
			<span th:if="${#fields.hasErrors('children')}" th:errors="*{children}"></span>
		
		<br><br>
		<input type="submit">
	</form>
</body>
</html>